<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ullam eum reprehenderit nam ea aliquid rerum deleniti voluptatem aperiam rem quasi iusto alias nihil facilis ratione officiis aspernatur obcaecati dicta!</p>
</div>

{% schema %}
{
    "name": "gycontent",
    "tag": "section",
    "class": "section",
    "settings": [
    ]
}
{% endschema %}