$gy-color-base: var(--gy-color-base);
$gy-color-text: var(--gy-color-text);

$gy-num-cols: 12;
$gy-width: 100%;
$gy-width-max: 1440px;
$gy-margin-side: 5rem;
$gy-margin-side--movil: 1rem;
$gy-columns-gap: 1rem;

$gy-font-size--general: 16px;
$gy-font-size--h1: 30px;
$gy-font-size--h2: 25px;
$gy-font-size--h3: 22px;
$gy-font-size--h4: 18px;
$gy-font-size--h5: 16px;
$gy-font-size--h6: 14px;